body{
	margin: 0;
	padding: 0;
}
/* ハンバーガーメニュー */
a{
	text-decoration: none;
	color: #333;
}
main{
	max-width: 100%;
	width: 100%;
	height: 200vh;
	background-color: gray;
	margin: 50px auto;
	padding: 20px;
	font-size: 30px;

}
ul {
	list-style: none;
}

.menuButton {
	display: block;
	height: 40px;
	width: 40px;
	background-color: skyblue;
	position: fixed;
	top: 0;
	right: 0;
	transition: .3s;
	cursor: pointer;
	z-index: 2;
}
.menuButton div{
	height: 1px;
	width: 60%;
	background: #333;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: .3s;
}
.menuButton div:nth-of-type(1){
	transform: translate(-50%,-10px);
}
.menuButton div:nth-of-type(3){
	transform: translate(-50%,10px);
}
.menuButton.active{
	transform: rotate(-90deg);
}
.menuButton.active div:nth-of-type(1){
	transform: rotate(45deg)translate(-50%,0);
	transform-origin: 0% 50%;
}
.menuButton.active div:nth-of-type(2){
	opacity: 0;
	transform: translate(0%,-50%)
}
.menuButton.active div:nth-of-type(3){
	transform: rotate(-45deg)translate(-50%,0);
	transform-origin: 0% 50%;
}
nav{
	/* opacity: 0;
	visibility: hidden; */
	transform: translateX(100%);
	transition: .3s;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #fff;
	font-size: 20px;
	padding: 10px 0 10px;
	width: 20%;
	max-height: 100vh;
	overflow: auto;
	box-shadow: 0 0 10px 3px;
}
nav ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-inline-start: 0%;
}
nav ul li:not(:first-of-type){
	margin-top: 20px;
}
nav.active {
	opacity: 1;
	visibility: visible;
	transform: translateX(0%);
}
.mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgb(112, 106, 106);
	visibility: hidden;
	transition: .3s;
}
.mask.active {
	opacity: 0.7;
	visibility: visible;
}
/* ハンバーガーメニュー（END）*/